*{margin: 0;
    padding: 0;}
    .bar{
        background-color: red;
        height: 3px;
        animation: holy 1s ease-in-out 1;
    
    }
    header{
        height: 122px;
        background-color: black;
    
    }
    main{
        height: 900px;
        background-color: aquamarine;
    }
    @keyframes holy {
        0%{
            width: 0vw;
        }
        50%{
            width: 80vw;
        }
        100%{
            width: 100vw;
        }
    }
    img{
        /* animation: rotate 1s ease-in-out infinite; */
        display: block;
        margin: auto;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        /* 50%{
            transform: rotate(180deg);
            
        } */
        100%{
            transform: rotate(360deg);
            
        }
    }
    @keyframes slide1{
        0%{
            transform: translate(-120vw);
        }
        /* 50%{
            transform: rotate(180deg);
            
        } */
        100%{
            transform: translate(-40vw);
            
        }
    }
    @keyframes slide2{
        0%{
            transform: translate(0vw);
        }
        /* 50%{
            transform: rotate(180deg);
            
        } */
        100%{
            transform: translate(65vw);
            
        }
    }
    .slider{
        background-color: rgba(35, 29, 138, 0.905);
        height: 323px;
        width: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .pic4{
        transform: translate(120vw);
        
        
    }
    .pic2{
    transform: translate(0vw);
    animation: slide2 5s 2s forwards infinite;
    /* margin-top: 0; */
    }
    .pic3{
    transform: translate(-120vw);
    animation: slide1 5s 2s forwards infinite;
    }